version: '3.8'

networks:
  t4s:
    driver: bridge

volumes:
  t4s_api_data:
    driver: local

services:
  t4s_api_postgres:
    container_name: t4s_api_postgres
    image: postgres:13.1-alpine
    volumes:
      - t4s_api_data:/var/lib/postgresql/data
    restart: always
    environment:
      POSTGRES_PASSWORD: P4s5w0rD
    networks:
      - t4s

  t4s_api_php:
    container_name: t4s_api_php
    build:
      context: ./
      dockerfile: Dockerfile
    restart: always
    volumes:
      - ./:/var/www
      - /var/www/vendor
      - /var/www/var
    networks:
      - t4s
    depends_on:
      - t4s_api_postgres

  t4s_api_nginx:
    container_name: t4s_api_nginx
    image: nginx:1.19-alpine
    ports:
      - "80:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - t4s_api_php
    networks:
      - t4s
